<form [formGroup]="clientForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Criar formulário</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nome do processo" formControlName="processName">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Numero do processo (Não obrigatório)" formControlName="numberProcess">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nome do formulário" formControlName="formName">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Documentos necessários" formControlName="necessaryDoc">
          </mat-form-field>
          <mat-card-actions>
            <button mat-raised-button color="primary" type="button" (click)="addItem()">Adicionar item</button>
          </mat-card-actions>
        </div>
        
      </div>
      <div class="row">
        <div class="col">
          <ul>
            <li *ngFor="let item of items">{{ item }}</li>
          </ul>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
